flow.json
[{"id":"e578857c.c284a8","type":"tab","label":"Flow 1"},{"id":"44c75494.f25f0c","type":"tab","label":"Flow 2"},{"id":"dbb282e2.8d5b5","type":"tab","label":"Flow 3"},{"id":"b6222051.9c444","type":"tab","label":"Flow 4"},{"id":"651edca2.d53a84","type":"ttn app","z":"","appId":"sgb-test","region":"eu","accessKey":"ttn-account-v2.iNJOxpLhF76UpvGNpXEFt8ilwN9ZkIAaJOfYOwzVefA"},{"id":"9a8eae3b.ee77","type":"mongodb","z":"","hostname":"192.168.1.199","port":"27016","db":"orion","name":"Orion"},{"id":"19dd2996.9bb656","type":"ttn message","z":"e578857c.c284a8","name":"TTN message","app":"651edca2.d53a84","dev_id":"","field":"","x":150,"y":180,"wires":[["4ae6b066.9eb9a","a321b895.78a4e8","6a2d0c38.b7ad04"]]},{"id":"7f88a7ff.4e4db8","type":"debug","z":"e578857c.c284a8","name":"device","active":false,"console":"false","complete":"true","x":410,"y":20,"wires":[]},{"id":"f5855ed8.e1a75","type":"ttn send","z":"e578857c.c284a8","name":"TTN response","app":"651edca2.d53a84","dev_id":"first-lw","port":"","x":260,"y":340,"wires":[]},{"id":"4ae6b066.9eb9a","type":"function","z":"e578857c.c284a8","name":"Send back","func":"return {\n    dev_id: msg.dev_id,\n    port: msg.port,\n    payload: [1]//new Buffer([1,2])\n};","outputs":1,"noerr":0,"x":250,"y":260,"wires":[["f5855ed8.e1a75"]]},{"id":"41e04fea.373bf","type":"ttn device","z":"e578857c.c284a8","name":"TTN activation","app":"651edca2.d53a84","dev_id":"","event":"activations","x":150,"y":80,"wires":[["7f88a7ff.4e4db8"]]},{"id":"a321b895.78a4e8","type":"debug","z":"e578857c.c284a8","name":"message","active":true,"console":"false","complete":"true","x":360,"y":180,"wires":[]},{"id":"6a2d0c38.b7ad04","type":"function","z":"e578857c.c284a8","name":"Decode","func":"var dev = msg.payload[0]<<24 | msg.payload[1]<<16 | \nmsg.payload[2]<<8 | msg.payload[3];\nvar time = msg.payload[4]<<24 | msg.payload[5]<<16 | \nmsg.payload[6]<<8 | msg.payload[7];\nvar distance = msg.payload[8]<<24 | msg.payload[9]<<16 | \nmsg.payload[10]<<8 | msg.payload[11];\nvar temp = msg.payload[12]<<24 | msg.payload[13]<<16 | \nmsg.payload[14]<<8 | msg.payload[15];\nvar hum = msg.payload[16]<<24 | msg.payload[17]<<16 | \nmsg.payload[18]<<8 | msg.payload[19];\nvar rfid = msg.payload.toString('hex').substr(40, 46);\nreturn {\n    device:dev,\n    time:time,\n    distance:distance/100,\n    temp:temp/100,\n    hum:hum/100,\n    rfid:rfid\n};","outputs":1,"noerr":0,"x":420,"y":100,"wires":[["1872fc1e.25e024","f44bb3a7.c9d73","5d61c50d.3b940c","b7b16901.184588"]]},{"id":"1872fc1e.25e024","type":"debug","z":"e578857c.c284a8","name":"","active":true,"console":"false","complete":"true","x":590,"y":100,"wires":[]},{"id":"9a400954.b44ec8","type":"xml","z":"e578857c.c284a8","name":"","attr":"","chr":"","x":630,"y":380,"wires":[["be8aaf6d.3fe18"]]},{"id":"20ed8f59.1b121","type":"debug","z":"e578857c.c284a8","name":"","active":true,"console":"false","complete":"false","x":830,"y":260,"wires":[]},{"id":"b7b16901.184588","type":"tcp request","z":"e578857c.c284a8","server":"192.168.1.193","port":"8181","out":"sit","splitc":"0","name":"To OMI Node","x":830,"y":520,"wires":[[]]},{"id":"be8aaf6d.3fe18","type":"function","z":"e578857c.c284a8","name":"To byte array","func":"msg.payload=Buffer.from(msg.payload,'ascii');\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":380,"wires":[["20ed8f59.1b121","b7b16901.184588"]]},{"id":"5afed964.b7f998","type":"inject","z":"e578857c.c284a8","name":"Inject","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"x":130,"y":420,"wires":[["608bb834.bf1948"]]},{"id":"f44bb3a7.c9d73","type":"function","z":"e578857c.c284a8","name":"To ODF","func":"msg.payload = {\n    Objects:{\n        $:{\n            xmlns:\"odf.xsd\"\n        },\n        Object:[\n            {\n                id:[\"ExampleAgent\"],\n                Object:[\n                    {\n                        id:[\"SGB1\"],\n                        InfoItem:[\n                            {\n                              $:{\n                                  name:\"hum\"\n                              },\n                              value:[msg.hum]\n                            },\n                            {\n                              $:{\n                                  name:\"temp\"\n                              },\n                              value:[msg.temp]\n                            },\n                            {\n                              $:{\n                                  name:\"rfid\"\n                              },\n                              value:[msg.rfid]\n                            },\n                            {\n                              $:{\n                                  name:\"capacity\"\n                              },\n                              value:[100-msg.distance/9.10]\n                            }]\n                    }\n                    ],\n            }\n            ]\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":480,"wires":[["92508278.15ebf","9a400954.b44ec8"]]},{"id":"92508278.15ebf","type":"debug","z":"e578857c.c284a8","name":"","active":true,"console":"false","complete":"false","x":650,"y":640,"wires":[]},{"id":"608bb834.bf1948","type":"function","z":"e578857c.c284a8","name":"Dummy values","func":"msg = {distance:700, temp:23.7, hum:72.4, rfid:\"aaa\"};\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":500,"wires":[["f44bb3a7.c9d73","5d61c50d.3b940c","33c06dcf.54ac92"]]},{"id":"5d61c50d.3b940c","type":"function","z":"e578857c.c284a8","name":"To NGSI","func":"msg = {\n    id:\"TTNSGB\",\n    temperature:msg.temp,\n    volume:910-msg.distance,\n    maxvolume:910,\n    location:\"59.944672, 30.286824\",\n    type:\"mixed\"\n};\nmsg.payload = {\n  \"actionType\": \"APPEND\",\n  \"entities\": [\n    {\n      \"type\": \"sgb\",\n      \"id\": msg.id,\n      \"temperature\": {\n        \"value\": msg.temperature,\n        \"type\": \"Float\"\n      },\n      \"percent\":{\n          \"value\": msg.volume/msg.maxvolume*100,\n          \"type\": \"Float\"\n      },\n      \"volume\": {\n        \"value\": msg.volume,\"type\": \"Float\"\n      },\n      \"maxvolume\":\n      {\n          \"value\": msg.maxvolume, \"type\": \"Float\"\n      },\n      \"location\": {\n          \"type\": \"geo:point\",\n          \"value\": msg.location\n      },\n      \"garbagetype\": {\n          \"value\": msg.type, \"type\": \"string\"\n      },\n      \"rfid\": {\n          \"value\": msg.rfid, \"type\": \"string\"\n      }\n    }\n  ]\n}\nmsg.headers = {\n    'Content-Type': 'application/json'\n}\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":620,"wires":[["a1b2b197.5b831"]]},{"id":"a1b2b197.5b831","type":"http request","z":"e578857c.c284a8","name":"To Orion","method":"POST","ret":"txt","url":"192.168.1.199:1026/v2/op/update","tls":"","x":540,"y":720,"wires":[[]]},{"id":"d4fac363.ae221","type":"function","z":"44c75494.f25f0c","name":"NGSI","func":"msg.payload = {\n  \"actionType\": \"APPEND\",\n  \"entities\": [\n    {\n      \"type\": \"sgb\",\n      \"id\": msg.id,\n      \"temperature\": {\n        \"value\": msg.temperature,\n        \"type\": \"Float\"\n      },\n      \"percent\":{\n          \"value\": msg.volume/msg.maxvolume*100,\n          \"type\": \"Float\"\n      },\n      \"volume\": {\n        \"value\": msg.volume,\n        \"type\": \"Float\"\n      },\n      \"maxvolume\":\n      {\n          \"value\": msg.maxvolume,\n          \"type\": \"Float\"\n      },\n      \"location\": {\n          \"type\": \"geo:point\",\n          \"value\": msg.location\n      },\n      \"garbagetype\": {\n          \"type\": \"string\",\n          \"value\": msg.type\n      },\n      \"rfid\": {\n          \"type\": \"string\",\n          \"value\": msg.rfid\n      }\n    }\n  ]\n}\nmsg.headers = {\n    'Content-Type': 'application/json'\n}\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":60,"wires":[["80e8aaa7.0dd9a8"]]},{"id":"6f7a26fe.b0f1f8","type":"inject","z":"44c75494.f25f0c","name":"Add","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"x":90,"y":360,"wires":[["9a3c58c7.7ac9b8","868d43aa.31c31","5cada342.9643fc","39a1f5d5.edc62a","45e92100.89391"]]},{"id":"9a3c58c7.7ac9b8","type":"function","z":"44c75494.f25f0c","name":"ValuesSGB1","func":"msg = {\n    id:\"SGB1\",\n    temperature:24.7,\n    volume:578,\n    maxvolume:910,\n    location:\"59.944672, 30.286824\",\n    type:\"glass\",\n    rfid:\"aaa\",\n    time:Math.round(new Date().getTime()/1000)\n};\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":60,"wires":[["d4fac363.ae221","955ff139.dd984"]]},{"id":"80e8aaa7.0dd9a8","type":"http request","z":"44c75494.f25f0c","name":"Fiware Orion","method":"POST","ret":"txt","url":"192.168.1.199:1026/v2/op/update","tls":"","x":630,"y":60,"wires":[["f8d6524a.64a9f"]]},{"id":"f8d6524a.64a9f","type":"debug","z":"44c75494.f25f0c","name":"","active":true,"console":"false","complete":"true","x":650,"y":360,"wires":[]},{"id":"5cada342.9643fc","type":"function","z":"44c75494.f25f0c","name":"ValuesSGB3","func":"msg = {\n    id:\"SGB3\",\n    temperature:25.2,\n    volume:702,\n    maxvolume:910,\n    location:\"59.954672, 30.284824\",\n    type:\"glass\",\n    rfid:\"aaa\",\n    time:Math.round(new Date().getTime()/1000)\n};\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":220,"wires":[["d4fac363.ae221","955ff139.dd984"]]},{"id":"868d43aa.31c31","type":"function","z":"44c75494.f25f0c","name":"ValuesSGB2","func":"msg = {\n    id:\"SGB2\",\n    temperature:28.7,\n    volume:42,\n    maxvolume:910,\n    location:\"59.949672, 30.284824\",\n    type:\"plastic\",\n    rfid:\"bbb\",\n    time:Math.round(new Date().getTime()/1000)\n};\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":140,"wires":[["d4fac363.ae221","955ff139.dd984"]]},{"id":"39a1f5d5.edc62a","type":"function","z":"44c75494.f25f0c","name":"ValuesSGB4","func":"msg = {\n    id:\"SGB4\",\n    temperature:25.7,\n    volume:128,\n    maxvolume:910,\n    location:\"59.944672, 30.394824\",\n    type:\"mixed\",\n    rfid:\"bbb\",\n    time:Math.round(new Date().getTime()/1000)\n};\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":300,"wires":[["d4fac363.ae221","955ff139.dd984"]]},{"id":"9fd95540.c65b98","type":"http request","z":"dbb282e2.8d5b5","name":"FIWARE Orion","method":"POST","ret":"obj","url":"192.168.1.199:1026/v2/op/query","tls":"","x":660,"y":60,"wires":[["5d837b02.be14c4","357d2805.0a9468"]]},{"id":"1c1b27eb.3476e8","type":"function","z":"dbb282e2.8d5b5","name":"NGSI","func":"msg = {};\nmsg.payload = {\n  \"entities\": [\n    {\n      \"idPattern\": \".*\",\n      \"type\": \"sgb\"\n    }\n  ],\n  \"attributes\":[\n    \"percent\",\n    \"location\",\n    \"garbagetype\",\n    \"rfid\"\n  ],\n  \"scopes\": [\n    {\n      \"type\": \"FIWARE::StringQuery\",\n      \"value\": \"percent<65\"\n    },\n    {\n      \"type\" : \"FIWARE::Location::NGSIv2\",\n      \"value\" : {\n        \"georel\": [ \"near\", \"maxDistance:1500\" ],\n        \"geometry\": \"point\",\n        \"coords\": [ [59.954672, 30.284824] ]\n      }\n    }\n  ]\n}\nmsg.headers = {\n    'Content-Type': 'application/json'\n}\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":60,"wires":[["9fd95540.c65b98"]]},{"id":"f5dead35.170fb","type":"inject","z":"dbb282e2.8d5b5","name":"Request","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"x":100,"y":60,"wires":[["1c1b27eb.3476e8"]]},{"id":"5d837b02.be14c4","type":"debug","z":"dbb282e2.8d5b5","name":"NGSI response","active":true,"console":"false","complete":"payload","x":880,"y":60,"wires":[]},{"id":"4b265eb5.efc6c","type":"function","z":"dbb282e2.8d5b5","name":"ODF","func":"msg.payload = {\n    Objects:{\n        $:{\n            xmlns:\"odf.xsd\"\n        },\n        Object:[\n            {\n                id:[\"sgb\"],\n                        InfoItem:[\n                            { $:{ name:\"percent\"} },\n                            { $:{ name:\"location\"} },\n                            { $:{ name:\"garbagetype\"} },\n                            { $:{ name:\"rfid\"} }\n                        ],\n                Object:[\n                    {\n                        id:[\"filter_attribute\"],\n                        InfoItem:[\n                            { $:{ name:\"percent<\"},\n                              value:[65]\n                            }]\n                    },\n                    {\n                        id:[\"filter_location\"],\n                        InfoItem:[\n                            { $:{ name:\"location\"},\n                              value:[\"59.954672, 30.284824\"]\n                            },\n                            {\n                              $:{\n                                  name:\"distance\"\n                              },\n                              value:[1500]\n                            }]\n                    }\n                    ],\n            }\n            ]\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":160,"wires":[["9b417815.80d8b8"]]},{"id":"23b0d030.f0dee","type":"debug","z":"dbb282e2.8d5b5","name":"ODF FORMAT","active":true,"console":"false","complete":"payload","x":300,"y":400,"wires":[]},{"id":"9b417815.80d8b8","type":"xml","z":"dbb282e2.8d5b5","name":"","attr":"","chr":"","x":329.1667060852051,"y":264.3333692550659,"wires":[["23b0d030.f0dee","57606e84.f4d99"]]},{"id":"78486ec2.ab9bc","type":"inject","z":"dbb282e2.8d5b5","name":"Request","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"x":100,"y":160,"wires":[["4b265eb5.efc6c"]]},{"id":"57606e84.f4d99","type":"xml","z":"dbb282e2.8d5b5","name":"","attr":"","chr":"","x":410,"y":160,"wires":[["e79eaa50.481468"]]},{"id":"e79eaa50.481468","type":"function","z":"dbb282e2.8d5b5","name":"To NGSI","func":"var attributes = [];\nfor(var attr in msg.payload.Objects.Object[0].InfoItem){\n    attributes.push(msg.payload.Objects.Object[0].InfoItem[attr].$.name);\n}\nmsg.payload = {\n  \"entities\": [\n    {\n      \"idPattern\": \".*\",\n      \"type\": msg.payload.Objects.Object[0].id[0]\n    }\n  ],\n  \"attributes\": attributes,\n  \"scopes\": [\n    {\n      \"type\": \"FIWARE::StringQuery\",\n      \"value\": msg.payload.Objects.Object[0].Object[0].InfoItem[0].$.name+msg.payload.Objects.Object[0].Object[0].InfoItem[0].value[0]\n    },\n    {\n      \"type\" : \"FIWARE::Location::NGSIv2\",\n      \"value\" : {\n        \"georel\": [ \"near\", \"maxDistance:\"+msg.payload.Objects.Object[0].Object[1].InfoItem[1].value[0] ],\n        \"geometry\": \"point\",\n        \"coords\": [ [Number(msg.payload.Objects.Object[0].Object[1].InfoItem[0].value[0].split(',')[0]),\n                    Number(msg.payload.Objects.Object[0].Object[1].InfoItem[0].value[0].split(',')[1])] ]\n      }\n    }\n  ]\n}\nmsg.headers = {\n    'Content-Type': 'application/json'\n}\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":160,"wires":[["12a6126c.0590ae","9fd95540.c65b98"]]},{"id":"12a6126c.0590ae","type":"debug","z":"dbb282e2.8d5b5","name":"NGSI FORMAT","active":true,"console":"false","complete":"payload","x":560,"y":400,"wires":[]},{"id":"357d2805.0a9468","type":"function","z":"dbb282e2.8d5b5","name":"To ODF","func":"var Objects = [];\nfor(var obj in msg.payload){\n    var curObj = msg.payload[obj];\n    Objects.push({\n                id:[curObj.id],\n                        InfoItem:[\n                            {\n                              $:{\n                                  name:\"type\"\n                              },\n                              value:[curObj.type]\n                            },\n                            {\n                              $:{\n                                  name:\"garbagetype\"\n                              },\n                              value:[curObj.garbagetype.value]\n                            },\n                            {\n                              $:{\n                                  name:\"location\"\n                              },\n                              value:[curObj.location.value]\n                            },\n                            {\n                              $:{\n                                  name:\"percent\"\n                              },\n                              value:[curObj.percent.value]\n                            },\n                            {\n                              $:{\n                                  name:\"rfid\"\n                              },\n                              value:[curObj.rfid.value]\n                            }\n                        ],\n            }\n        );\n}\nmsg.payload = {\n    Objects:{\n        $:{\n            xmlns:\"odf.xsd\"\n        },\n        Object:Objects,\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":160,"wires":[["bd6733ad.89ce5"]]},{"id":"7e32b36b.410afc","type":"debug","z":"dbb282e2.8d5b5","name":"ODF FORMAT","active":true,"console":"false","complete":"payload","x":820,"y":400,"wires":[]},{"id":"bd6733ad.89ce5","type":"xml","z":"dbb282e2.8d5b5","name":"","attr":"","chr":"","x":730,"y":260,"wires":[["7e32b36b.410afc"]]},{"id":"45e92100.89391","type":"function","z":"44c75494.f25f0c","name":"ValuesSGB5","func":"msg = {\n    id:\"SGB5\",\n    temperature:25.7,\n    volume:128,\n    maxvolume:910,\n    location:\"59.944672, 30.394824\",\n    type:\"mixed\",\n    rfid:\"ccc\",\n    time:Math.round(new Date().getTime()/1000)\n};\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":360,"wires":[["d4fac363.ae221","955ff139.dd984"]]},{"id":"955ff139.dd984","type":"mongodb out","z":"44c75494.f25f0c","mongodb":"9a8eae3b.ee77","name":"SGB","collection":"sgb","payonly":false,"upsert":false,"multi":false,"operation":"store","x":650,"y":460,"wires":[]},{"id":"33c06dcf.54ac92","type":"mongodb out","z":"e578857c.c284a8","mongodb":"9a8eae3b.ee77","name":"SGB","collection":"sgb","payonly":false,"upsert":false,"multi":false,"operation":"store","x":810,"y":600,"wires":[]},{"id":"57f35b05.b6a8b4","type":"http request","z":"b6222051.9c444","name":"","method":"POST","ret":"obj","url":"http://itmo.ritm.ru/restapi/reports/ROUTE/","tls":"","x":390,"y":60,"wires":[["5380e16e.2a59e"]]},{"id":"a2f476c6.7abe58","type":"inject","z":"b6222051.9c444","name":"Track","topic":"","payload":"{\"objectId\":[3],\"from\":\"2017-10-02 00:00:00\",\"to\":\"2017-10-08 22:20:00\",\"tzId\":\"Europe/Moscow\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":150,"y":60,"wires":[["57f35b05.b6a8b4"]]},{"id":"5380e16e.2a59e","type":"debug","z":"b6222051.9c444","name":"","active":true,"console":"false","complete":"false","x":630,"y":60,"wires":[]},{"id":"91d15ed2.89253","type":"http request","z":"b6222051.9c444","name":"","method":"POST","ret":"obj","url":"http://itmo.ritm.ru/restapi/reports/ACCELERATION/","tls":"","x":410,"y":180,"wires":[["c4841c82.6c5d","65487e83.f4aa7"]]},{"id":"c4841c82.6c5d","type":"debug","z":"b6222051.9c444","name":"","active":false,"console":"false","complete":"false","x":630,"y":180,"wires":[]},{"id":"b964cf84.f97da","type":"http in","z":"b6222051.9c444","name":"","url":"/getAccel","method":"get","swaggerDoc":"","x":170,"y":640,"wires":[["1a0e1939.0c9997","f98be149.eeeae"]]},{"id":"38a4e4bc.7dafdc","type":"http response","z":"b6222051.9c444","name":"","x":850,"y":640,"wires":[]},{"id":"65487e83.f4aa7","type":"function","z":"b6222051.9c444","name":"","func":"var objs = msg.payload.body;\nobjs = objs[Object.keys(objs)[0]];\nvar accels = [];\nvar corners = [];\nfor(var i=0;i<Object.keys(objs).length;i++){\n    objs[Object.keys(objs)[i]].accels.forEach(function(v){accels.push(v);});\n    objs[Object.keys(objs)[i]].corners.forEach(function(v){corners.push(v);});\n}\nvar results = {};\nresults.accels_more_1 = 0;\nresults.accels_more_1_5 = 0;\nresults.accels_low_1_5 = 0;\nresults.accels_low_2 = 0;\nresults.corners = corners.length;\nfor(var i=0;i<accels.length;i++){\n    if(accels[i].accel>=1.5){\n        results.accels_more_1_5+=1;\n    }else if(accels[i].accel>=1){\n        results.accels_more_1+=1;\n    }else if(accels[i].accel<=-2){\n        results.accels_low_2+=1;\n    }else if(accels[i].accel<=-1.5){\n        results.accels_low_1_5+=1;\n    }\n}\nmsg.result = results;\nmsg.payload = accels;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":260,"wires":[["aae0afbb.2947c"]]},{"id":"34359852.860438","type":"debug","z":"b6222051.9c444","name":"","active":true,"console":"false","complete":"true","x":610,"y":260,"wires":[]},{"id":"fc72efc.843841","type":"http request","z":"b6222051.9c444","name":"","method":"POST","ret":"obj","url":"http://itmo.ritm.ru/restapi/reports/RUN/","tls":"","x":690,"y":380,"wires":[["c799b59f.5163d8","d6db0418.d43d88"]]},{"id":"c799b59f.5163d8","type":"debug","z":"b6222051.9c444","name":"","active":true,"console":"false","complete":"false","x":930,"y":380,"wires":[]},{"id":"d6db0418.d43d88","type":"function","z":"b6222051.9c444","name":"","func":"var objs = msg.payload.footer;\nobjs = objs[Object.keys(objs)[0]];\nmsg.distance = objs.distance;\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":440,"wires":[["b72172c5.0fc7c","109e0130.c33cbf"]]},{"id":"b72172c5.0fc7c","type":"debug","z":"b6222051.9c444","name":"","active":false,"console":"false","complete":"true","x":910,"y":440,"wires":[]},{"id":"aae0afbb.2947c","type":"function","z":"b6222051.9c444","name":"","func":"msg.headers=[]\nmsg.payload={\"objectId\":msg.object,\"from\":msg.from,\"to\":msg.to,\"scode\":\"YDX\",\"tzId\":\"Europe/Moscow\",\"sort\":\"name\",\"properties\":[\"extId\",\"name\"],\"params\":[\"moveStart\",\"moveEnd\"],\"hideDetails\":1}\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":320,"wires":[["d54b2f34.30545","34359852.860438"]]},{"id":"1a0e1939.0c9997","type":"function","z":"b6222051.9c444","name":"","func":"Date.prototype.format = function(format) //author: meizz\n{\n  var o = {\n    \"M+\" : this.getMonth()+1, //month\n    \"d+\" : this.getDate(),    //day\n    \"h+\" : this.getHours(),   //hour\n    \"m+\" : this.getMinutes(), //minute\n    \"s+\" : this.getSeconds(), //second\n    \"q+\" : Math.floor((this.getMonth()+3)/3),  //quarter\n    \"S\" : this.getMilliseconds() //millisecond\n  }\n\n  if(/(y+)/.test(format)) format=format.replace(RegExp.$1,\n    (this.getFullYear()+\"\").substr(4 - RegExp.$1.length));\n  for(var k in o)if(new RegExp(\"(\"+ k +\")\").test(format))\n    format = format.replace(RegExp.$1,\n      RegExp.$1.length==1 ? o[k] :\n        (\"00\"+ o[k]).substr((\"\"+ o[k]).length));\n  return format;\n}\nvar datefrom = new Date(Number(msg.payload.from)*1000);\nmsg.from = datefrom.format(\"yyyy-MM-dd hh:mm:00\");\nvar dateto = new Date(Number(msg.payload.to)*1000);\nmsg.to = dateto.format(\"yyyy-MM-dd hh:mm:00\");\nvar id = Number(msg.payload.truck.substr(msg.payload.truck.length - 1))+2;\nif(id>4){\n    id=3;\n}\nmsg.realID = Number(msg.payload.truck.substr(msg.payload.truck.length - 1));\nmsg.object = [id];\nmsg.payload = {\"objectId\":msg.object,\"from\":msg.from,\"to\":msg.to,\"scode\":\"YDX\",\"tzId\":\"Europe/Moscow\",\"sort\":\"name\",\"properties\":[\"extId\"],\"b1\":1,\"b2\":-1.5,\"mintime\":2};\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":260,"wires":[["91d15ed2.89253","68dd9c87.45e8e4"]]},{"id":"109e0130.c33cbf","type":"function","z":"b6222051.9c444","name":"","func":"if(msg.realID>2){\n    msg.distance = msg.distance*0.78;\n}\nif(msg.distance >0){\n    msg.quality = 100.0*Math.exp(-(msg.result.accels_more_1+3*msg.result.accels_more_1_5+msg.result.accels_low_1_5+3*msg.result.accels_low_2+msg.result.corners)/msg.distance);\n}else{\n    msg.quality = null;\n}\nmsg.payload = msg.result;\nmsg.payload.distance = msg.distance;\nmsg.payload.quality = msg.quality;\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":520,"wires":[["b0d66704.414f48","38a4e4bc.7dafdc"]]},{"id":"b0d66704.414f48","type":"debug","z":"b6222051.9c444","name":"","active":true,"console":"false","complete":"true","x":910,"y":520,"wires":[]},{"id":"f98be149.eeeae","type":"debug","z":"b6222051.9c444","name":"","active":false,"console":"false","complete":"true","x":320,"y":420,"wires":[]},{"id":"68dd9c87.45e8e4","type":"debug","z":"b6222051.9c444","name":"","active":true,"console":"false","complete":"false","x":280,"y":360,"wires":[]},{"id":"d54b2f34.30545","type":"delay","z":"b6222051.9c444","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":511.1667022705078,"y":405.00003147125244,"wires":[["fc72efc.843841"]]}]
