flow.json
[{"id":"e578857c.c284a8","type":"tab","label":"Flow 1"},{"id":"44c75494.f25f0c","type":"tab","label":"Flow 2"},{"id":"dbb282e2.8d5b5","type":"tab","label":"Flow 3"},{"id":"651edca2.d53a84","type":"ttn app","z":"","appId":"sgb-test","region":"eu","accessKey":"ttn-account-v2.iNJOxpLhF76UpvGNpXEFt8ilwN9ZkIAaJOfYOwzVefA"},{"id":"19dd2996.9bb656","type":"ttn message","z":"e578857c.c284a8","name":"TTN message","app":"651edca2.d53a84","dev_id":"","field":"","x":150,"y":180,"wires":[["4ae6b066.9eb9a","a321b895.78a4e8","6a2d0c38.b7ad04"]]},{"id":"7f88a7ff.4e4db8","type":"debug","z":"e578857c.c284a8","name":"device","active":false,"console":"false","complete":"true","x":410,"y":20,"wires":[]},{"id":"f5855ed8.e1a75","type":"ttn send","z":"e578857c.c284a8","name":"TTN response","app":"651edca2.d53a84","dev_id":"first-lw","port":"","x":260,"y":340,"wires":[]},{"id":"4ae6b066.9eb9a","type":"function","z":"e578857c.c284a8","name":"Send back","func":"return {\n    dev_id: msg.dev_id,\n    port: msg.port,\n    payload: [1]//new Buffer([1,2])\n};","outputs":1,"noerr":0,"x":250,"y":260,"wires":[["f5855ed8.e1a75"]]},{"id":"41e04fea.373bf","type":"ttn device","z":"e578857c.c284a8","name":"TTN activation","app":"651edca2.d53a84","dev_id":"","event":"activations","x":150,"y":80,"wires":[["7f88a7ff.4e4db8"]]},{"id":"a321b895.78a4e8","type":"debug","z":"e578857c.c284a8","name":"message","active":true,"console":"false","complete":"true","x":360,"y":180,"wires":[]},{"id":"6a2d0c38.b7ad04","type":"function","z":"e578857c.c284a8","name":"Decode","func":"var dev = msg.payload[0]<<24 | msg.payload[1]<<16 | \nmsg.payload[2]<<8 | msg.payload[3];\nvar time = msg.payload[4]<<24 | msg.payload[5]<<16 | \nmsg.payload[6]<<8 | msg.payload[7];\nvar distance = msg.payload[8]<<24 | msg.payload[9]<<16 | \nmsg.payload[10]<<8 | msg.payload[11];\nvar temp = msg.payload[12]<<24 | msg.payload[13]<<16 | \nmsg.payload[14]<<8 | msg.payload[15];\nvar hum = msg.payload[16]<<24 | msg.payload[17]<<16 | \nmsg.payload[18]<<8 | msg.payload[19];\nvar rfid = msg.payload.toString('hex').substr(40, 46);\nreturn {\n    device:dev,\n    time:time,\n    distance:distance/100,\n    temp:temp/100,\n    hum:hum/100,\n    rfid:rfid\n};","outputs":1,"noerr":0,"x":420,"y":80,"wires":[["1872fc1e.25e024","f44bb3a7.c9d73","5d61c50d.3b940c"]]},{"id":"1872fc1e.25e024","type":"debug","z":"e578857c.c284a8","name":"","active":true,"console":"false","complete":"true","x":590,"y":80,"wires":[]},{"id":"9a400954.b44ec8","type":"xml","z":"e578857c.c284a8","name":"","attr":"","chr":"","x":630,"y":380,"wires":[["be8aaf6d.3fe18"]]},{"id":"20ed8f59.1b121","type":"debug","z":"e578857c.c284a8","name":"","active":true,"console":"false","complete":"false","x":830,"y":260,"wires":[]},{"id":"b7b16901.184588","type":"tcp request","z":"e578857c.c284a8","server":"192.168.1.193","port":"8181","out":"sit","splitc":"0","name":"To OMI Node","x":830,"y":520,"wires":[[]]},{"id":"be8aaf6d.3fe18","type":"function","z":"e578857c.c284a8","name":"To byte array","func":"msg.payload=Buffer.from(msg.payload,'ascii');\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":380,"wires":[["20ed8f59.1b121","b7b16901.184588"]]},{"id":"5afed964.b7f998","type":"inject","z":"e578857c.c284a8","name":"Inject","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"x":130,"y":420,"wires":[["608bb834.bf1948"]]},{"id":"f44bb3a7.c9d73","type":"function","z":"e578857c.c284a8","name":"To ODF","func":"msg.payload = {\n    Objects:{\n        $:{\n            xmlns:\"odf.xsd\"\n        },\n        Object:[\n            {\n                id:[\"ExampleAgent\"],\n                Object:[\n                    {\n                        id:[\"SGB1\"],\n                        InfoItem:[\n                            {\n                              $:{\n                                  name:\"hum\"\n                              },\n                              value:[msg.hum]\n                            },\n                            {\n                              $:{\n                                  name:\"temp\"\n                              },\n                              value:[msg.temp]\n                            },\n                            {\n                              $:{\n                                  name:\"rfid\"\n                              },\n                              value:[msg.rfid]\n                            },\n                            {\n                              $:{\n                                  name:\"capacity\"\n                              },\n                              value:[100-msg.distance/9.10]\n                            }]\n                    }\n                    ],\n            }\n            ]\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":480,"wires":[["92508278.15ebf","9a400954.b44ec8"]]},{"id":"92508278.15ebf","type":"debug","z":"e578857c.c284a8","name":"","active":true,"console":"false","complete":"false","x":650,"y":640,"wires":[]},{"id":"608bb834.bf1948","type":"function","z":"e578857c.c284a8","name":"Dummy values","func":"msg = {distance:700, temp:23.7, hum:72.4, rfid:\"aaa\"};\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":500,"wires":[["f44bb3a7.c9d73","5d61c50d.3b940c"]]},{"id":"5d61c50d.3b940c","type":"function","z":"e578857c.c284a8","name":"To NGSI","func":"msg = {\n    id:\"TTNSGB\",\n    temperature:msg.temp,\n    volume:910-msg.distance,\n    maxvolume:910,\n    location:\"59.944672, 30.286824\",\n    type:\"mixed\"\n};\nmsg.payload = {\n  \"actionType\": \"APPEND\",\n  \"entities\": [\n    {\n      \"type\": \"sgb\",\n      \"id\": msg.id,\n      \"temperature\": {\n        \"value\": msg.temperature,\n        \"type\": \"Float\"\n      },\n      \"percent\":{\n          \"value\": msg.volume/msg.maxvolume*100,\n          \"type\": \"Float\"\n      },\n      \"volume\": {\n        \"value\": msg.volume,\"type\": \"Float\"\n      },\n      \"maxvolume\":\n      {\n          \"value\": msg.maxvolume, \"type\": \"Float\"\n      },\n      \"location\": {\n          \"type\": \"geo:point\",\n          \"value\": msg.location\n      },\n      \"garbagetype\": {\n          \"value\": msg.type, \"type\": \"string\"\n      },\n      \"rfid\": {\n          \"value\": msg.rfid, \"type\": \"string\"\n      }\n    }\n  ]\n}\nmsg.headers = {\n    'Content-Type': 'application/json'\n}\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":620,"wires":[["a1b2b197.5b831"]]},{"id":"a1b2b197.5b831","type":"http request","z":"e578857c.c284a8","name":"To Orion","method":"POST","ret":"txt","url":"192.168.1.199:1026/v2/op/update","tls":"","x":540,"y":720,"wires":[[]]},{"id":"d4fac363.ae221","type":"function","z":"44c75494.f25f0c","name":"NGSI","func":"msg.payload = {\n  \"actionType\": \"APPEND\",\n  \"entities\": [\n    {\n      \"type\": \"sgb\",\n      \"id\": msg.id,\n      \"temperature\": {\n        \"value\": msg.temperature,\n        \"type\": \"Float\"\n      },\n      \"percent\":{\n          \"value\": msg.volume/msg.maxvolume*100,\n          \"type\": \"Float\"\n      },\n      \"volume\": {\n        \"value\": msg.volume,\n        \"type\": \"Float\"\n      },\n      \"maxvolume\":\n      {\n          \"value\": msg.maxvolume,\n          \"type\": \"Float\"\n      },\n      \"location\": {\n          \"type\": \"geo:point\",\n          \"value\": msg.location\n      },\n      \"garbagetype\": {\n          \"type\": \"string\",\n          \"value\": msg.type\n      },\n      \"rfid\": {\n          \"type\": \"string\",\n          \"value\": msg.rfid\n      }\n    }\n  ]\n}\nmsg.headers = {\n    'Content-Type': 'application/json'\n}\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":60,"wires":[["80e8aaa7.0dd9a8"]]},{"id":"6f7a26fe.b0f1f8","type":"inject","z":"44c75494.f25f0c","name":"Add","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"x":90,"y":360,"wires":[["9a3c58c7.7ac9b8","868d43aa.31c31","5cada342.9643fc","39a1f5d5.edc62a"]]},{"id":"9a3c58c7.7ac9b8","type":"function","z":"44c75494.f25f0c","name":"ValuesSGB1","func":"msg = {\n    id:\"SGB1\",\n    temperature:24.7,\n    volume:578,\n    maxvolume:910,\n    location:\"59.944672, 30.286824\",\n    type:\"glass\",\n    rfid:\"aaa\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":60,"wires":[["d4fac363.ae221"]]},{"id":"80e8aaa7.0dd9a8","type":"http request","z":"44c75494.f25f0c","name":"Fiware Orion","method":"POST","ret":"txt","url":"192.168.1.199:1026/v2/op/update","tls":"","x":630,"y":60,"wires":[["f8d6524a.64a9f"]]},{"id":"f8d6524a.64a9f","type":"debug","z":"44c75494.f25f0c","name":"","active":true,"console":"false","complete":"true","x":650,"y":360,"wires":[]},{"id":"5cada342.9643fc","type":"function","z":"44c75494.f25f0c","name":"ValuesSGB3","func":"msg = {\n    id:\"SGB3\",\n    temperature:25.2,\n    volume:702,\n    maxvolume:910,\n    location:\"59.954672, 30.284824\",\n    type:\"glass\",\n    rfid:\"aaa\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":220,"wires":[["d4fac363.ae221"]]},{"id":"868d43aa.31c31","type":"function","z":"44c75494.f25f0c","name":"ValuesSGB2","func":"msg = {\n    id:\"SGB2\",\n    temperature:28.7,\n    volume:42,\n    maxvolume:910,\n    location:\"59.949672, 30.284824\",\n    type:\"plastic\",\n    rfid:\"aaa\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":140,"wires":[["d4fac363.ae221"]]},{"id":"39a1f5d5.edc62a","type":"function","z":"44c75494.f25f0c","name":"ValuesSGB4","func":"msg = {\n    id:\"SGB4\",\n    temperature:25.7,\n    volume:128,\n    maxvolume:910,\n    location:\"59.944672, 30.394824\",\n    type:\"mixed\",\n    rfid:\"aaa\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":300,"wires":[["d4fac363.ae221"]]},{"id":"9fd95540.c65b98","type":"http request","z":"dbb282e2.8d5b5","name":"FIWARE Orion","method":"POST","ret":"obj","url":"192.168.1.199:1026/v2/op/query","tls":"","x":660,"y":60,"wires":[["5d837b02.be14c4","357d2805.0a9468"]]},{"id":"1c1b27eb.3476e8","type":"function","z":"dbb282e2.8d5b5","name":"NGSI","func":"msg = {};\nmsg.payload = {\n  \"entities\": [\n    {\n      \"idPattern\": \".*\",\n      \"type\": \"sgb\"\n    }\n  ],\n  \"attributes\":[\n    \"percent\",\n    \"location\",\n    \"garbagetype\",\n    \"rfid\"\n  ],\n  \"scopes\": [\n    {\n      \"type\": \"FIWARE::StringQuery\",\n      \"value\": \"percent<65\"\n    },\n    {\n      \"type\" : \"FIWARE::Location::NGSIv2\",\n      \"value\" : {\n        \"georel\": [ \"near\", \"maxDistance:1500\" ],\n        \"geometry\": \"point\",\n        \"coords\": [ [59.954672, 30.284824] ]\n      }\n    }\n  ]\n}\nmsg.headers = {\n    'Content-Type': 'application/json'\n}\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":60,"wires":[["9fd95540.c65b98"]]},{"id":"f5dead35.170fb","type":"inject","z":"dbb282e2.8d5b5","name":"Request","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"x":100,"y":60,"wires":[["1c1b27eb.3476e8"]]},{"id":"5d837b02.be14c4","type":"debug","z":"dbb282e2.8d5b5","name":"NGSI response","active":true,"console":"false","complete":"payload","x":880,"y":60,"wires":[]},{"id":"4b265eb5.efc6c","type":"function","z":"dbb282e2.8d5b5","name":"ODF","func":"msg.payload = {\n    Objects:{\n        $:{\n            xmlns:\"odf.xsd\"\n        },\n        Object:[\n            {\n                id:[\"sgb\"],\n                        InfoItem:[\n                            { $:{ name:\"percent\"} },\n                            { $:{ name:\"location\"} },\n                            { $:{ name:\"garbagetype\"} },\n                            { $:{ name:\"rfid\"} }\n                        ],\n                Object:[\n                    {\n                        id:[\"filter_attribute\"],\n                        InfoItem:[\n                            { $:{ name:\"percent<\"},\n                              value:[65]\n                            }]\n                    },\n                    {\n                        id:[\"filter_location\"],\n                        InfoItem:[\n                            { $:{ name:\"location\"},\n                              value:[\"59.954672, 30.284824\"]\n                            },\n                            {\n                              $:{\n                                  name:\"distance\"\n                              },\n                              value:[1500]\n                            }]\n                    }\n                    ],\n            }\n            ]\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":160,"wires":[["9b417815.80d8b8"]]},{"id":"23b0d030.f0dee","type":"debug","z":"dbb282e2.8d5b5","name":"ODF FORMAT","active":true,"console":"false","complete":"payload","x":300,"y":400,"wires":[]},{"id":"9b417815.80d8b8","type":"xml","z":"dbb282e2.8d5b5","name":"","attr":"","chr":"","x":329.1667060852051,"y":264.3333692550659,"wires":[["23b0d030.f0dee","57606e84.f4d99"]]},{"id":"78486ec2.ab9bc","type":"inject","z":"dbb282e2.8d5b5","name":"Request","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"x":100,"y":160,"wires":[["4b265eb5.efc6c"]]},{"id":"57606e84.f4d99","type":"xml","z":"dbb282e2.8d5b5","name":"","attr":"","chr":"","x":410,"y":160,"wires":[["e79eaa50.481468"]]},{"id":"e79eaa50.481468","type":"function","z":"dbb282e2.8d5b5","name":"To NGSI","func":"var attributes = [];\nfor(var attr in msg.payload.Objects.Object[0].InfoItem){\n    attributes.push(msg.payload.Objects.Object[0].InfoItem[attr].$.name);\n}\nmsg.payload = {\n  \"entities\": [\n    {\n      \"idPattern\": \".*\",\n      \"type\": msg.payload.Objects.Object[0].id[0]\n    }\n  ],\n  \"attributes\": attributes,\n  \"scopes\": [\n    {\n      \"type\": \"FIWARE::StringQuery\",\n      \"value\": msg.payload.Objects.Object[0].Object[0].InfoItem[0].$.name+msg.payload.Objects.Object[0].Object[0].InfoItem[0].value[0]\n    },\n    {\n      \"type\" : \"FIWARE::Location::NGSIv2\",\n      \"value\" : {\n        \"georel\": [ \"near\", \"maxDistance:\"+msg.payload.Objects.Object[0].Object[1].InfoItem[1].value[0] ],\n        \"geometry\": \"point\",\n        \"coords\": [ [Number(msg.payload.Objects.Object[0].Object[1].InfoItem[0].value[0].split(',')[0]),\n                    Number(msg.payload.Objects.Object[0].Object[1].InfoItem[0].value[0].split(',')[1])] ]\n      }\n    }\n  ]\n}\nmsg.headers = {\n    'Content-Type': 'application/json'\n}\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":160,"wires":[["12a6126c.0590ae","9fd95540.c65b98"]]},{"id":"12a6126c.0590ae","type":"debug","z":"dbb282e2.8d5b5","name":"NGSI FORMAT","active":true,"console":"false","complete":"payload","x":560,"y":400,"wires":[]},{"id":"357d2805.0a9468","type":"function","z":"dbb282e2.8d5b5","name":"To ODF","func":"var Objects = [];\nfor(var obj in msg.payload){\n    var curObj = msg.payload[obj];\n    Objects.push({\n                id:[curObj.id],\n                        InfoItem:[\n                            {\n                              $:{\n                                  name:\"type\"\n                              },\n                              value:[curObj.type]\n                            },\n                            {\n                              $:{\n                                  name:\"garbagetype\"\n                              },\n                              value:[curObj.garbagetype.value]\n                            },\n                            {\n                              $:{\n                                  name:\"location\"\n                              },\n                              value:[curObj.location.value]\n                            },\n                            {\n                              $:{\n                                  name:\"percent\"\n                              },\n                              value:[curObj.percent.value]\n                            },\n                            {\n                              $:{\n                                  name:\"rfid\"\n                              },\n                              value:[curObj.rfid.value]\n                            }\n                        ],\n            }\n        );\n}\nmsg.payload = {\n    Objects:{\n        $:{\n            xmlns:\"odf.xsd\"\n        },\n        Object:Objects,\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":160,"wires":[["bd6733ad.89ce5"]]},{"id":"7e32b36b.410afc","type":"debug","z":"dbb282e2.8d5b5","name":"ODF FORMAT","active":true,"console":"false","complete":"payload","x":820,"y":400,"wires":[]},{"id":"bd6733ad.89ce5","type":"xml","z":"dbb282e2.8d5b5","name":"","attr":"","chr":"","x":730,"y":260,"wires":[["7e32b36b.410afc"]]}]
