node-red/.flows_ead6b1925a66.json.backup
[{"id":"466bafcc.d7777","type":"tab","label":"Flow 1"},{"id":"621e7627.0e4738","type":"mongodb","z":"","hostname":"192.168.1.199","port":"27017","db":"cygnus_my_test","name":""},{"id":"3bded620.3b7dfa","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Helvetica Neue","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Helvetica Neue","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"Helvetica Neue"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#000000","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"266cc424.008cdc","type":"mongodb in","z":"466bafcc.d7777","mongodb":"621e7627.0e4738","name":"","collection":"cygnus_/_Temp-Test1_thing","operation":"find","x":464.8332977294922,"y":274.99998474121094,"wires":[["406308b3.858328"]]},{"id":"ecbc2e4f.8e59e","type":"inject","z":"466bafcc.d7777","name":"","topic":"","payload":"","payloadType":"str","repeat":"10","crontab":"","once":false,"x":120.83332824707031,"y":53,"wires":[["a0aa4372.1e772"]]},{"id":"406308b3.858328","type":"debug","z":"466bafcc.d7777","name":"","active":true,"console":"false","complete":"true","x":862.8333282470703,"y":275.6666717529297,"wires":[]},{"id":"7e541a1b.c1d1d4","type":"debug","z":"466bafcc.d7777","name":"","active":true,"console":"false","complete":"true","x":288.8333282470703,"y":403.6666717529297,"wires":[]},{"id":"a0aa4372.1e772","type":"function","z":"466bafcc.d7777","name":"","func":"msg.sort = {\"_id\":-1}; msg.limit = 1; msg.skip = 0; return msg;","outputs":1,"noerr":0,"x":340.8333282470703,"y":37,"wires":[["266cc424.008cdc","7e541a1b.c1d1d4"]]}]